src/main/mule/data-aggregation-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" 
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">

	<http:listener-config name="data-aggregation-demo-api-httpListenerConfig">
		<http:listener-connection host="${http.host}"
			port="${http.port}" />
	</http:listener-config>

	<apikit:config name="data-aggregation-demo-api-config"
		raml="data-aggregation-demo-api.raml" outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />

	<configuration-properties doc:name="Configuration properties"
		doc:id="98d287ab-afb0-4499-9479-17de2115ce83" file="app-properties.yaml" />

	<db:config name="derbyConfig" doc:name="Database Config"
		doc:id="2eb4ccc0-07bf-4a0d-ae04-6a785ce4de56">
		<db:generic-connection url="jdbc:derby:memory:sourceDB;create=true" driverClassName="org.apache.derby.jdbc.EmbeddedDriver" />
	</db:config>
	
	<spring:config name="springConfig" doc:name="Spring Config" doc:id="ce8af09a-d4d4-4d7e-a8a4-5787760e2be8" files="beans.xml" />
	
	<flow name="data-aggregation-demo-api-main">
        <http:listener config-ref="data-aggregation-demo-api-httpListenerConfig" path="/da-api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="data-aggregation-demo-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ff26a2f8-cfbf-4f72-83b9-084fc9e76e6b">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APP:IDS_DONT_MATCH">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="df7b806e-9903-4a6a-8678-4f4ddcdc9118">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "Invalid format: IDs don't match"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APP:SOURCE_DATA_MISMATCH">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="df7b806e-9903-4a6a-8678-4f4ddcdc9118">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "Invalid format: Invalid data passed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APP:DUPLICATE_NAME">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="df7b806e-9903-4a6a-8678-4f4ddcdc9118">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "Insert failed; name already exists"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APP:NO_SOURCE_TO_DELETE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="df7b806e-9903-4a6a-8678-4f4ddcdc9118">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{status: "Invalid format: Source doesn't exist"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APP:NO_SOURCE_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d22a1e15-3f50-4c6b-b0a6-f0330b9d7df0">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "No matching source found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <flow name="data-aggregation-demo-api-console">
        <http:listener config-ref="data-aggregation-demo-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="data-aggregation-demo-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    
    <flow name="put:\admin\sources:application\json:data-aggregation-demo-api-config">
        <ee:transform doc:name="Save Incoming Data" doc:id="a01cc32e-5451-4467-a34a-0df5d281588b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="incomingPayload" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Look for Sources With Same Name" config-ref="derbyConfig">
			<db:sql>SELECT id, name, url FROM sources WHERE name = :name</db:sql>
			<db:input-parameters><![CDATA[#[{'name': vars.incomingPayload.name}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="DEBUG: log payload " doc:id="6dcb67ab-57ea-4063-b052-726b3a98ece2" message="payload after select on name: #[payload]"/>
		<validation:is-empty-collection doc:name="Validate That None Exist" doc:id="1f225d01-3909-4b31-863c-6290933e7898" message="Name already exists in DB">
			<error-mapping sourceType="VALIDATION:NOT_EMPTY_COLLECTION" targetType="APP:DUPLICATE_NAME" />
		</validation:is-empty-collection>
		<db:select doc:name="Get Max Existing ID" doc:id="0d5a2cc8-7c5e-489f-a0e7-6e70b774e88a" config-ref="derbyConfig">
			<db:sql >SELECT MAX(id) FROM sources</db:sql>
		</db:select>
		<set-variable value="#[payload[0][0] as Number + 1]" doc:name="Save New Max ID" doc:id="107d343a-a7e8-4694-8db1-a59f98b8b0ef" variableName="maxID"/>
		<db:insert doc:name="Save Data to DB" doc:id="02ec886c-76a8-4bc7-92d2-88e94059a8bb" config-ref="derbyConfig">
			<db:sql >INSERT INTO sources (id, name, url) VALUES (:id, :name, :url)</db:sql>
			<db:input-parameters ><![CDATA[#[{id: vars.maxID, name: vars.incomingPayload.name, url: vars.incomingPayload.url}]]]></db:input-parameters>
		</db:insert>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="c3da830c-ae33-4f8e-b0b5-481ac55e38d0">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: vars.maxID,
	name: vars.incomingPayload.name,
	url: vars.incomingPayload.url
}]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[201]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
    </flow>
    
    <flow name="delete:\admin\sources\(id):application\json:data-aggregation-demo-api-config">
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="bd94cff8-c591-447a-915d-2b83b1c40754" doc:name="Capture Incoming Data">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
				<ee:set-variable variableName="incomingSource" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <validation:is-true doc:name="Validate ID against Payload ID" doc:id="b9736852-dd84-4d0b-929d-83150c27e1a1" expression="#[vars.incomingSource.id as Number == vars.id as Number]" message="ID in payload and ID in URL don't match">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:IDS_DONT_MATCH" />
		</validation:is-true>
		<flow-ref doc:name="get-source-fromdb-by-id" doc:id="a833003b-4271-4ea2-b6ec-c6ef71f663cc" name="get-source-fromdb-by-id"/>
		<validation:is-not-empty-collection doc:name="Validate Existing Source Exists" doc:id="b911894b-b521-494c-8156-d21303aee3dd" message="Source doesn't exist">
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NO_SOURCE_TO_DELETE" />
		</validation:is-not-empty-collection>
		<validation:is-true doc:name="Validate Payload Data Against Data in DB" doc:id="132789b7-9fe0-4bd6-99ee-7e3579839415" expression="#[vars.incomingSource.id as Number == payload[0].id as Number and vars.incomingSource.name as String == payload[0].name as String and vars.incomingSource.url as String == payload[0].url as String]" message="Incoming data and database don't match">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:SOURCE_DATA_MISMATCH" />
		</validation:is-true>
		<db:delete doc:name="Delete Source" doc:id="8e98af40-5e60-441a-a73d-b75c2812e799" config-ref="derbyConfig">
			<db:sql >DELETE FROM sources WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{'id': vars.id}]]]></db:input-parameters>
		</db:delete>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="38da2b99-c604-445e-88b6-3a0bf4af4b75">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="get:\admin\cleanDB:data-aggregation-demo-api-config">
        <db:delete doc:name="Empty Table" doc:id="1900f23e-315a-42e0-8e71-7252af358130" config-ref="derbyConfig">
			<db:sql >DELETE FROM sources</db:sql>
		</db:delete>
		<ee:transform doc:name="Create Default Data" doc:id="6ebddf9c-bcad-470d-a03e-72838665f487" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[
	{
		id: 1,
		name: "Healthy Canada",
		url: "http://mule4-hc-api.ca-c1.cloudhub.io/hc/recalls/"
	},
	{
		id: 2,
		name: "NYT API",
		url: "http://mule4-nyt-api.ca-c1.cloudhub.io/nyt/articles/"
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Insert Default Data" doc:id="0b586845-e9d8-406a-a8db-db4b0060cc0c" config-ref="derbyConfig">
			<db:sql >INSERT INTO sources (id, name, url) VALUES (:id, :name, :url)</db:sql>
		</db:bulk-insert>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b0c9b142-bb3a-4bee-8105-683e1d159ae2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="get:\admin\sources:data-aggregation-demo-api-config">
        <db:select doc:name="Get Sources" doc:id="02f5d9f2-f3a3-4e29-90fe-fb04ff41dea7" config-ref="derbyConfig">
			<db:sql >SELECT id, name, url FROM sources</db:sql>
		</db:select>
		<validation:is-not-empty-collection doc:name="Validate that a Record Exists" doc:id="4dfade93-ec46-46aa-bc99-90fd6ab708b4" >
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NO_SOURCE_FOUND" />
		</validation:is-not-empty-collection>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="2afc7867-737b-4679-9312-0f8ee7978150">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( result , indexOfResult) -> {
	id: result.id,
	name: result.name,
	url: result.url
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="get:\admin\sources\(id):data-aggregation-demo-api-config">
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="ed803643-ebc2-4e55-9dd1-adc1a23e90f7">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="get-source-fromdb-by-id" doc:id="828e5c19-17c1-4aa8-92b7-95f121df9c15" name="get-source-fromdb-by-id" />
		<validation:is-not-empty-collection doc:name="Validate that a Record Exists" doc:id="37039915-d399-414c-a9b5-cdbdbc39f651" >
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NO_SOURCE_FOUND" />
		</validation:is-not-empty-collection>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d27dfcd4-fb32-4e79-bd04-cbc23ae12ef5">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: payload[0].id,
  name: payload[0].name,
  url: payload[0].url
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
	<sub-flow name="get-source-fromdb-by-id" doc:id="72782d8e-8690-433f-a18a-e3adee5da4bc" >
		<db:select doc:name="Get Selected Source from DB" doc:id="a6f414a5-1d31-43cb-9446-9d15b8d49b81" config-ref="derbyConfig">
			<db:sql>SELECT id, name, url FROM sources WHERE id = :id</db:sql>
			<db:input-parameters><![CDATA[#[{'id': vars.id}]]]></db:input-parameters>
		</db:select>
	</sub-flow>
	
	<flow name="get:\results\(searchTerm):data-aggregation-demo-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="searchTerm">attributes.uriParams.searchTerm</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  searchTerm: "search term",
  simpleResults: [
    {
      id: "1",
      source: "twitter",
      text: "search term"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
