src/main/mule/data-aggregation-demo-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway"
	xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:data-aggregation-demo-api="http://www.mulesoft.org/schema/mule/data-aggregation-demo-api"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/data-aggregation-demo-api http://www.mulesoft.org/schema/mule/data-aggregation-demo-api/current/mule-data-aggregation-demo-api.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">

    <flow name="put:\admin\sources:application\json:data-aggregation-demo-api-config">
        <ee:transform doc:name="Save Incoming Data" doc:id="a01cc32e-5451-4467-a34a-0df5d281588b" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="incomingPayload" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:select doc:name="Look for Sources With Same Name" config-ref="derbyConfig">
			<db:sql>SELECT id, name, url FROM sources WHERE name = :name</db:sql>
			<db:input-parameters><![CDATA[#[{'name': vars.incomingPayload.name}]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="DEBUG: log payload " doc:id="6dcb67ab-57ea-4063-b052-726b3a98ece2" message="payload after select on name: #[payload]"/>
		<validation:is-empty-collection doc:name="Validate That None Exist" doc:id="1f225d01-3909-4b31-863c-6290933e7898" message="Name already exists in DB">
			<error-mapping sourceType="VALIDATION:NOT_EMPTY_COLLECTION" targetType="APP:DUPLICATE_NAME" />
		</validation:is-empty-collection>
		<db:select doc:name="Get Max Existing ID" doc:id="0d5a2cc8-7c5e-489f-a0e7-6e70b774e88a" config-ref="derbyConfig">
			<db:sql >SELECT MAX(id) FROM sources</db:sql>
		</db:select>
		<set-variable value="#[payload[0][0] as Number + 1]" doc:name="Save New Max ID" doc:id="107d343a-a7e8-4694-8db1-a59f98b8b0ef" variableName="maxID"/>
		<db:insert doc:name="Save Data to DB" doc:id="02ec886c-76a8-4bc7-92d2-88e94059a8bb" config-ref="derbyConfig">
			<db:sql >INSERT INTO sources (id, name, url) VALUES (:id, :name, :url)</db:sql>
			<db:input-parameters ><![CDATA[#[{id: vars.maxID, name: vars.incomingPayload.name, url: vars.incomingPayload.url}]]]></db:input-parameters>
		</db:insert>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="c3da830c-ae33-4f8e-b0b5-481ac55e38d0">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: vars.maxID,
	name: vars.incomingPayload.name,
	url: vars.incomingPayload.url
}]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[201]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
    </flow>
    
    <flow name="delete:\admin\sources\(id):application\json:data-aggregation-demo-api-config">
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="bd94cff8-c591-447a-915d-2b83b1c40754" doc:name="Capture Incoming Data">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
				<ee:set-variable variableName="incomingSource" ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <validation:is-true doc:name="Validate ID against Payload ID" doc:id="b9736852-dd84-4d0b-929d-83150c27e1a1" expression="#[vars.incomingSource.id as Number == vars.id as Number]" message="ID in payload and ID in URL don't match">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:IDS_DONT_MATCH" />
		</validation:is-true>
		<flow-ref doc:name="get-source-fromdb-by-id" doc:id="a833003b-4271-4ea2-b6ec-c6ef71f663cc" name="get-source-fromdb-by-id"/>
		<validation:is-not-empty-collection doc:name="Validate Existing Source Exists" doc:id="b911894b-b521-494c-8156-d21303aee3dd" message="Source doesn't exist">
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NO_SOURCE_TO_DELETE" />
		</validation:is-not-empty-collection>
		<validation:is-true doc:name="Validate Payload Data Against Data in DB" doc:id="132789b7-9fe0-4bd6-99ee-7e3579839415" expression="#[vars.incomingSource.id as Number == payload[0].id as Number and vars.incomingSource.name as String == payload[0].name as String and vars.incomingSource.url as String == payload[0].url as String]" message="Incoming data and database don't match">
			<error-mapping sourceType="VALIDATION:INVALID_BOOLEAN" targetType="APP:SOURCE_DATA_MISMATCH" />
		</validation:is-true>
		<db:delete doc:name="Delete Source" doc:id="8e98af40-5e60-441a-a73d-b75c2812e799" config-ref="derbyConfig">
			<db:sql >DELETE FROM sources WHERE id = :id</db:sql>
			<db:input-parameters ><![CDATA[#[{'id': vars.id}]]]></db:input-parameters>
		</db:delete>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="38da2b99-c604-445e-88b6-3a0bf4af4b75">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="get:\admin\cleanDB:data-aggregation-demo-api-config">
        <db:delete doc:name="Empty Table" doc:id="1900f23e-315a-42e0-8e71-7252af358130" config-ref="derbyConfig">
			<db:sql >DELETE FROM sources</db:sql>
		</db:delete>
		<ee:transform doc:name="Create Default Data" doc:id="6ebddf9c-bcad-470d-a03e-72838665f487" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[
	{
		id: 1,
		name: "Healthy Canada",
		url: "http://mule4-hc-api.ca-c1.cloudhub.io/hc/recalls/"
	},
	{
		id: 2,
		name: "NYT API",
		url: "http://mule4-nyt-api.ca-c1.cloudhub.io/nyt/articles/"
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Insert Default Data" doc:id="0b586845-e9d8-406a-a8db-db4b0060cc0c" config-ref="derbyConfig">
			<db:sql >INSERT INTO sources (id, name, url) VALUES (:id, :name, :url)</db:sql>
		</db:bulk-insert>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="b0c9b142-bb3a-4bee-8105-683e1d159ae2">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  status: "success"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="get:\admin\sources:data-aggregation-demo-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="f3e47efe-420c-4f32-a912-a50efacf4d59" name="get-sources-from-db" />
		<validation:is-not-empty-collection doc:name="Validate that a Record Exists" doc:id="4dfade93-ec46-46aa-bc99-90fd6ab708b4" >
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NO_SOURCE_FOUND" />
		</validation:is-not-empty-collection>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="2afc7867-737b-4679-9312-0f8ee7978150">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( result , indexOfResult) -> {
	id: result.id,
	name: result.name,
	url: result.url
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
    <flow name="get:\admin\sources\(id):data-aggregation-demo-api-config">
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="ed803643-ebc2-4e55-9dd1-adc1a23e90f7">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="get-source-fromdb-by-id" doc:id="828e5c19-17c1-4aa8-92b7-95f121df9c15" name="get-source-fromdb-by-id" />
		<validation:is-not-empty-collection doc:name="Validate that a Record Exists" doc:id="37039915-d399-414c-a9b5-cdbdbc39f651" >
			<error-mapping sourceType="VALIDATION:EMPTY_COLLECTION" targetType="APP:NO_SOURCE_FOUND" />
		</validation:is-not-empty-collection>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d27dfcd4-fb32-4e79-bd04-cbc23ae12ef5">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: payload[0].id,
  name: payload[0].name,
  url: payload[0].url
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    
	<flow name="get:\results\(searchTerm):data-aggregation-demo-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="a79b8370-fe81-46c8-8ea6-8d7a797340f3" doc:name="Capture Inputs">
            <ee:variables>
                <ee:set-variable variableName="searchTerm"><![CDATA[attributes.uriParams.searchTerm]]></ee:set-variable>
				<ee:set-variable variableName="detailedResults" ><![CDATA[attributes.queryParams.detailedResponse]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform doc:name="Create Empty Result" doc:id="b884ed9d-3744-4dfd-a010-9f29b52f9f12" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="fullResponse" ><![CDATA[%dw 2.0
output application/java
---
{
	searchTerm: vars.searchTerm,
	detailedResults: [],
	simpleResults: []
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-sources-from-db" doc:id="ddce25dc-0e59-4009-b27a-9a05804e283a" name="get-sources-from-db"/>
		<validation:is-not-empty-collection doc:name="Validate Sources Returned" doc:id="6a8c4622-e7a9-4310-934b-6681adc51f54" message="Invalid sources returned from admin API">
			<error-mapping targetType="APP:INVALID_SOURCES" />
		</validation:is-not-empty-collection>
		<foreach doc:name="For Each Source" doc:id="1d3842fd-5fb4-4a1c-ad65-982757fb3153" collection="#[payload]">
			<ee:transform doc:name="Build Full URL" doc:id="f99f71d8-a5e5-4d3e-a1c3-2c7a8c1d62ad">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="fullURL"><![CDATA[%dw 2.0
output text/plain
---
if (payload.url as String matches /.*\/$/)
  payload.url as String ++ vars.searchTerm as String
else
  payload.url as String ++ "/" ++ vars.searchTerm as String]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			<http:request method="GET" doc:name="Get Result from Source API" doc:id="a2f40d7c-dc24-40fd-91c1-d669669f7deb" url="#[vars.fullURL]">
				<http:response-validator >
					<http:success-status-code-validator values="200,404" />
				</http:response-validator>
			</http:request>
			<choice doc:name="When Result not 404" doc:id="e7f06c57-27a2-4758-b746-d41e6331bc17" >
				<when expression="#[attributes.statusCode == 200]" >
					<ee:transform doc:name="Add Response to Full Result" doc:id="38881596-c0f5-4fa4-a6c9-b26a13287066">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="fullResponse"><![CDATA[%dw 2.0
output application/java
---
{
	searchTerm: vars.fullResponse.searchTerm,
	detailedResults: vars.fullResponse.detailedResults as Array ++ payload.detailedResults as Array,
	simpleResults: vars.fullResponse.simpleResults as Array ++ payload.simpleResults as Array
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
				</when>
			</choice>
		</foreach>
		<choice doc:name="If Filtered Results" doc:id="d85c1d6c-bb8d-4b61-87fe-947ce4cc6a55" >
			<when expression='#[vars.detailedResults == "false"]'>
				<ee:transform doc:name="Send fullResponse var as Result without Detailed" doc:id="bf238a55-9923-413c-86f7-c0b034bc794d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.fullResponse ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="03cf98aa-dd13-4898-b15c-3e94f2ef41f9" doc:name="Send fullResponse var as Result">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.fullResponse]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
    </flow>
    
</mule>
